USE [EducationManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignLecturerToCourse]    Script Date: 20/06/2026 21:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Update the Course table
CREATE   PROCEDURE [dbo].[sp_AssignLecturerToCourse]
    @CourseID INT,
    @FacultyID INT
AS
BEGIN
    UPDATE Course
    SET FacultyID = @FacultyID
    WHERE CourseID = @CourseID;
END;
GO
